

/*Use ID homepage on pages with a single logo in the middle*/
body.homepage {
    background-color: #000000;
    background-image: url('../Images/DJNP_transparent_hlfprnt.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: auto;
    color: #ffffff;
    }    
    /*uses below for screens bigger than 650px*/
    @media screen and (min-width: 650px) {
    body.homepage {
        background-color: #000000;
        background-image: url("../Images/DJNP_transparent.png");
        background-size: 40%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        margin: auto;
        color: #ffffff;
        }}
/*Use ID halfbunny on pages with content in the center of the page*/
body.halfbunny {
    background-color: #000000;
    background-image: url("../Images/DJNP_RobotFace.png"), url("../Images/DJNP_RabbitFace.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left center, right center;
    background-attachment: fixed;
    margin: auto;
    color: #ffffff;
}

#header {
    position: sticky;
    top: 15px;
    width: 100%;
    padding: .3em;
    background-color: #e8112d;
    font-family: 'PressStart2PRegular', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    color: #ffffff;
    text-align: center;
    }

.centerlist {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
    }


#homecontent {
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    margin: 0% 10%;
}
#subcontent {
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    margin: 10% 25%;
}

strong {
    font-family: 'RobotoCondensedBold', Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color:#e8112d;
    } 
    
h1 {
    font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    color:#e8112d;
    }

/*#homelyrics {
    }*/

#sideintro {
    display: hidden;
    font-size: 1.2em;
    }
    /*uses below for screens bigger than 650px*/
    @media screen and (min-width: 650px) {
    #sideintro {
        float: right;
        position: sticky;
        top: 20%;
        }}

#timeday {
    position: fixed;
    right: 0px;
    bottom: 15%;
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'LCD14', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #e8112d;
    text-align: center;
    color: #ffffff;
    }
#showclock {
    position: fixed;
    right: 0px;
    bottom: 5%;
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'LCD14', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #e8112d;
    text-align: center;
    color: #ffffff;
    }
/*If the screen is bigger tahn 650px it will use what's below, instead.  This is actually the "default" view for all PCscreens, it's just the syntax that demands we write it second.*/
@media screen and (min-width: 650px) {
    #timeday {
        position: fixed;
        left: 0px;
        bottom: 20%;
        padding-left: 12px;
        font-family: 'LCD14', courier, monospace; 
        font-weight: normal; 
        font-style: normal; 
        background-color: #e8112d;
        text-align: center;
        color: #ffffff;
        width: 20%;
        }

    #showclock {
        position: fixed;
        right: 0px;
        bottom: 20%;
        padding-right: 12px;
        font-family: 'LCD14', courier, monospace; 
        font-weight: normal; 
        font-style: normal; 
        background-color: #e8112d;
        color: #ffffff;
        text-align: center;
        width: 20%;
        }
        }
  
a:link {
    color: #ffffff;
    text-decoration: none;
    }

a:visited {
    color: #c2c2c2;
    text-decoration: none;
    }
  
a:active {
    color: #eb008b;
    text-decoration: none;
    }

a:hover {
    color: #790707;
    text-decoration: none;
    }
