

/*Use ID homepage on pages with a single logo in the middle*/
body.homepage {
    background-color: #000000;
    background-image: url("http://graypawn.wdfiles.com/local--files/imagebin/DJNP_transparent.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: auto;
    color: #ffffff;
    }
/*Use ID halfbunny on pages with content in the center of the page*/
body.halfbunny {
    background-color: #000000;
    background-image: url("http://graypawn.wdfiles.com/local--files/imagebin/DJNP_RobotFace.png"), url("http://graypawn.wdfiles.com/local--files/imagebin/DJNP_RabbitFace.png");
    background-size: 27%;
    background-repeat: no-repeat;
    background-position: left center, right center;
    margin: auto;
    color: #ffffff;
}

#header {
    font-family: 'PressStart2PRegular', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #e8112d;
    padding: 0.1em 0;
    color: #ffffff;
    margin: 7% 0% 5% 0%;
    text-align: center;
    }

.centerlist {
    display: inline;
    padding: 0.5em;
    margin: .2 em;
    }


#homecontent {
    font-family: 'BeingHumannormalhuman'; 
    font-weight: normal; 
    font-style: normal;
    margin: 0% 10%;
}
#subcontent {
    font-family: 'RobotoRegular', arial, Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    margin: 10% 25%;
}

strong {
    font-family: 'RetroscapeRegular'; 
    font-weight: bold; 
    font-style: small;
    color:#e8112d;
    } 

#timeday {
    position: fixed;
    left: 0px;
    bottom: 20%;
    font-family: 'LCD14', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #e8112d;
    text-align: center;
    color: #ffffff;
    width: 20%;
    }

#showclock {
    position: fixed;
    right: 0px;
    bottom: 20%;
    font-family: 'LCD14', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #e8112d;
    color: #ffffff;
    text-align: center;
    width: 20%;
    }

a:visited {
    color: #790707;
    text-decoration: none;
    }
  
a:active {
    color: #eb008b;
    text-decoration: none;
    }

a:hover {
    color: #000000;
    text-decoration: none;
    }
  
a:link {
    color: #ffffff;
    text-decoration: none;
    }