body {
  background-color: #000000;
  background-image: url("../../../Images/DJNP_RabbitFace.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  margin: auto;
  color: #ffffff;
  }

strong {
  font-family: 'RobotoCondensedBold', Arial, Helvetica, sans-serif;
  font-weight: bold; 
  color:#a1a1a1;
  } 
  
h1 {
  font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal;
  color:#e8112d;
  margin: 2%;
  }
      
h2 {
  font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal;
  color:#e8112d;
  }

h3 {
  font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal;
  color:#e8112d;
  }

p, address {
  font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal;
  margin: 2%;
  }

li {
  font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal;
  color:#a1a1a1;
  }

a:link {
  color: #ffffff;
  text-decoration: none;
  }

a:visited {
    color: #c2c2c2;
    text-decoration: none;
    }
  
a:active {
    color: #eb008b;
    text-decoration: none;
    }

a:hover {
    color: #790707;
    text-decoration: none;
    }

.motherfooter {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #444444;
  font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
  font-weight: normal; 
  font-style: normal; 
  font-size: 1.2 em;
  }