body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 22px;}
  h1, h2, p {
    padding: 12px;
    color: #17a33d;
    line-height: 2em;}
  h1 {
    color:darkslategray;
    text-align:center
  }
  i, a, a:hover, a:visited {
    color: #4fa1c1;}
  .intros{
    font-style: oblique
  }
  .body{
    color:darkslategray
  }