body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 22px;
    }

  h1, h2 {
    font-family: 'BebasNeueBold'; 
    font-weight: normal; 
    font-style: normal;
    color: #17a33d;
    line-height: 2em;
    }

  i, a, a:hover, a:visited {
    color: #4fa1c1;
    }

  .linkheader{
    font-style: oblique
    }

  .intros {
    font-family: 'BebasNeueRegular', Courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    color:rgb(33, 94, 38);
    font-size: 1.5em;
    }