body {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color:#111c79;
    }

h1 {
    font-family: 'BebasNeueBold', Helvetica, Arial, sans-serif;
    font-weight: normal; 
    font-style: normal;
    color:#ffffff;
    text-shadow: 2px 2px 1px #010116;
    line-height: 2.5em;
    text-align: center;
    }

.header {
    position: fixed;
    width: 200px;
    padding-left: 20px;
    padding-bottom: 5px;
    background-color: #111c79;
    top: 0px;
    left: 0px;
    text-align: left;
    overflow-wrap: normal;
}

.spacer {
    padding-top: 300px;
}

.complete {
    color: #999999;
}
/*
a {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: white;
    }

a:visited{
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #999999;
    }

a:hover {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: red;
    }
*/