body {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color:#111c79;
    text-align: left;
    margin: 20px;
    }

h1 {
    font-family: 'BebasNeueBold'; 
    font-weight: normal; 
    font-style: normal;
    color:#ffffff;
    text-shadow: 2px 2px 1px #010116;
    line-height: 2.5em;
    text-align: center;
    }

theList {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    }

.complete {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #999999;
}

a {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: white;
    }

a:visited{
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #999999;
    }

a:hover {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: red;
    }