 * {
    text-align: center
}

body {
    background-image: url("ChessPieces/5069834249_6e4e1e1357_b.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
    font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #c2c2c2;
    font-size: 5em;
    margin: 2% 0% 10% 0%;
    background-color: rgba(107, 107, 107, 0.55);
}
#board {
   margin: auto;
   background-color: gray;
   width: 800px;
   height: 800px;
   }
.space {
   float: left;
   height: 12.5%;
   width: 12.5%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 60px;
}
.black {
   background-color: #424242;
}
.white {
   background-color: #ffffff;
}

.blackrook {
   background-image: url("ChessPieces/Black_Rook.svg");
}
.blackknight {
   background-image: url("ChessPieces/Black_Knight.svg");
}
.blackbishop {
   background-image: url("ChessPieces/Black_Bishop.svg");
}
.blackqueen {
   background-image: url("ChessPieces/Black_Queen.svg");
}
.blackking {
   background-image: url("ChessPieces/Black_King.svg");    
}
.blackpawn {
   background-image: url("ChessPieces/Black_Pawn.svg");
}

.whiterook {
   background-image: url("ChessPieces/White_Rook.svg");
}
.whiteknight {
   background-image: url("ChessPieces/White_Knight.svg");
}
.whitebishop {
   background-image: url("ChessPieces/White_Bishop.svg");
}
.whitequeen {
   background-image: url("ChessPieces/White_Queen.svg");
}
.whiteking {
   background-image: url("ChessPieces/White_King.svg");    
}
.whitepawn {
   background-image: url("ChessPieces/White_Pawn.svg");
}

p, address {
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    margin: 2%;
    }

a:link {
    color: #ffffff;
    text-decoration: none;
    }

a:visited {
    color: #c2c2c2;
    text-decoration: none;
    }

a:active {
    color: #eb008b;
    text-decoration: none;
    }

a:hover {
    color: #790707;
    text-decoration: none;
    }

footer {
    background-color: rgba(107, 107, 107, 0.55);
    padding: 2px;
    margin-top: 10%;
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal; 
    font-size: 2.2 em;
    line-height: 3em;
    }