#theErrors{
    color:#ffffff;
    font-family: 'DotriceRegular', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    background-color: #790707;
    float: left;
    width: 400px;
    margin-bottom: 20px;
    margin-left: 3px;
    }
    /*If the screen is bigger tahn 850px it will use what's below, instead.  This is actually the "default" view for all PCscreens, it's just the syntax that demands we write it second.*/
    @media screen and (min-width: 850px) {
        #theErrors {
            color: #ffffff;
            float: right;
            font-family: 'DotriceRegular', courier, monospace; 
            font-weight: normal; 
            font-style: normal; 
            background-color: #790707;
            width: 40%;    
            }
            }

#theForm {
    margin: 5px;
    padding: 5px;
    margin-bottom: 40px;
    color: #020202;
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    }

#header {
    position: sticky;
    top: 15px;
    width: 100%;
    padding: .3em;
    background-color: #e8112d;
    font-family: 'PressStart2PRegular', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    color: #ffffff;
    text-align: center;
    }
.centerlist {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
    }

body {
    background-color: #000000;
    background-image: url("../../Images/DJNP_RabbitFace.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    margin: auto;
    color: #ffffff;
    }

strong {
    font-family: 'RobotoCondensedBold', Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color:#e8112d;
    } 
    
h1 {
    font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    color:#e8112d;
    margin: 2%;
    }
        
h2 {
    font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    color:#c2c2c2;
    }

p {
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    margin: 2%;
}

#theForm {
    background-color: white;
    float: left;
    margin-left: 2%;
    }

a:link {
    color: #ffffff;
    text-decoration: none;
    }

a:visited {
    color: #c2c2c2;
    text-decoration: none;
    }
  
a:active {
    color: #eb008b;
    text-decoration: none;
    }

a:hover {
    color: #790707;
    text-decoration: none;
    }