body {
    background-color:#444444;
    background-image: url("http://graypawn.wdfiles.com/local--files/imagebin/DJNP_RightSide_LeftFace_sparent_small.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    margin: auto;
    text-align: center;
    }

h1 {
    font-family: 'BebasNeueBold'; 
    font-weight: normal; 
    font-style: normal;
    color:#ffffff;
    text-shadow: 2px 2px 1px #999999;
    line-height: 2em;
    }

#buttonribbon {
    position: sticky;
    width: 100%;
    background-color: #9999998c;
    font-family: 'PressStart2PRegular', courier, monospace; 
    font-weight: normal; 
    font-style: normal; 
    color: #ffffff;
    text-align: center;
    }

.centerlist {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
    }

#caption {
    font-family: 'VTFMisterPixelRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    color:#ffffff;
    font-size: 1.9em;
    line-height: 2em;
    }

#previous {
    background-color: #e8112d;
    border: none;
    color: white;
    font-family: 'RobotoCondensedBold', Arial, Helvetica, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

#next {
    background-color: #e8112d;
    border: none;
    color: white;
    font-family: 'RobotoCondensedBold', Arial, Helvetica, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

.auto {
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal;
    margin-bottom: 1%;
}

a {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: white;
    }

a:visited{
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color: #999999;
    }

a:hover {
    font-family: 'GlacialIndifferenceRegular', Helvetica, Arial, sans-serif;
    color:#e8112d;
    }

.motherfooter {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #444444;
    font-family: 'RobotoCondensedRegular', Arial, Helvetica, sans-serif;
    font-weight: normal; 
    font-style: normal; 
    font-size: 1.2 em;
    }